.App {
    text-align: center;
}

.AppHeader {
    background-color: darkgray;
}

.LayoutTable {
    border: none;
    border-spacing: 0px;
    border-collapse: collapse;
}

    .LayoutTable td {
        border: none;
    }

.OptionsTable {
    border: none;
    border-spacing: 0px;
    border-collapse: collapse;
}

    .OptionsTable td {
        border: none;
        padding: 4pt;
    }

.GridTable {
    border: 1pt solid black;
    border-spacing: 0px;
    border-collapse: collapse;
}
    .GridTable td{
        border: 1pt solid black;
        padding: 3pt;
    }

.QuizIntro {
    text-align: left;
    font-family: Verdana;
    font-size: 10pt;
}

.main {
    margin: 1rem;
}
